#setting-menu {
  -fx-background-color: rgb(254, 253, 232);
}

#button-hold-style {
  -fx-text-fill: rgb(255, 255, 255);
  -fx-background-color: rgb(57, 62, 70);
}

#button-release-style {
  -fx-background-color: rgba(254, 253, 232);
}

#character-box {
  -fx-arc-height: 30;
  -fx-arc-width: 30;
  -fx-fill: rgba(254, 253, 232);
}

#character-box-hold {
  -fx-arc-height: 30;
  -fx-arc-width: 30;
  -fx-fill: rgb(57, 62, 70);
}

#character-box-selected {
  -fx-arc-height: 30;
  -fx-arc-width: 30;
  -fx-fill: #a5a5a5;
}

#character-box-portraits {
  -fx-arc-height: 30;
  -fx-arc-width: 30;
  -fx-fill: rgb(249, 218, 158);
}

#character-card {
  opacity: 1;
  -fx-background-color: rgb(165, 165, 165);
}

#character-card-hold {
  opacity: 1;
  -fx-background-color: rgb(0, 0, 0);
}

#character-card-selected {
  opacity: 1;
  -fx-background-color: rgb(165, 165, 165);
}

#character-card-bg {
  -fx-arc-height: 30;
  -fx-arc-width: 30;
  -fx-fill: rgb(254, 253, 232);
}

#box {
  -fx-fill: rgb(97, 101, 107);
}

#overlay {
  -fx-opacity: 0.9;
}

#overlay-bg {
  -fx-fill: rgba(57, 62, 70, 0.9);
}
