#button-hold-style {
  -fx-text-fill: #393e46;
  -fx-background-color: #cccccc;
  -fx-opacity: 0.85;
}

#button-release-style {
  -fx-background-color: #787878;
  -fx-opacity: 0.85;
}

#overlay {
  -fx-opacity: 0.9;
}

#box {
  -fx-fill: rgb(97, 101, 107);
}

#overlay-bg {
  -fx-fill: rgba(57, 62, 70, 0.8);
}
