#button-hold-style {
  -fx-text-fill: rgb(77, 77, 77);
  -fx-background-color: rgba(185, 185, 185, 0.9);
}

#button-release-style {
  -fx-background-color: rgba(120, 120, 120, 0.9);
}

#overlay {
  -fx-opacity: 0.9;
}

#box {
  -fx-fill: rgb(97, 101, 107);
}

#overlay-bg {
  -fx-fill: rgba(57, 62, 70, 0.9);
}
