#mainmenu-button-hold-style {
  -fx-text-fill: rgb(77, 77, 77);
  -fx-background-color: rgba(185, 185, 185, 0.9);
}

#mainmenu-button-release-style {
  -fx-background-color: rgba(120, 120, 120, 0.9);
}

#mainmenu-overlay {
  -fx-opacity: 0.9;
}

#character-box {
  -fx-fill: rgba(254, 253, 232, 0.9);
}

#character-box-selected {
  -fx-fill: rgba(254, 253, 232, 0.9);
  -fx-stroke: rgba(0, 0, 0, 0.9);
  -fx-stroke-width: 10;
}

#character-select-overlay {
  -fx-opacity: 0.9;
}

#character-card {
  opacity: 1;
  -fx-background-color: rgb(165, 165, 165);
}

#character-card-selected {
  opacity: 1;
  -fx-background-color: rgb(0, 0, 0);
}

#setting-menu {
  -fx-background-color: rgb(254, 253, 232);
}

#box {
  -fx-fill: rgb(97, 101, 107);
}

#menu-box {
  -fx-fill: rgba(254, 253, 232, 0.9);
}
