#mainmenu-button-hold-style {
  -fx-text-fill: rgb(77, 77, 77);
  -fx-background-color: rgba(185, 185, 185, 0.9);
}

#mainmenu-button-release-style {
  -fx-background-color: rgba(120, 120, 120, 0.9);
}
